@tailwind base;
@tailwind components;
@tailwind utilities;

.valid-animate{
    animation: valid-a normal 0.3s ease-out;
}

@keyframes valid-a{
    0%{
        margin-left: 0px;
    }
    25%{
        margin-left: -10px;
    }
    50%{
        margin-left: 0px;
    }
    75%{
        margin-left: 10px;
    }
    100%{
        margin-left: 0px;
    }
}